body {
	background-image: url(../images/bege.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

.content {
	margin-right: auto;
	margin-left: auto;
	border-radius: 25px;
	margin-top: 100px;
	width: 500px;
	height: 600px;
	background-color: rgba(255,255,255,0.8);
}

.content #title {
	background-color: rgba(29, 115, 122,0.9);
	width: 500px;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	height: 150px;
}

.content #title h1{
  text-shadow: 2px 2px 5px cyan;
  color: white;
  text-align: center;
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 48px;
}

.content form div {
	text-align: left;
	font-family: 'Mukta Mahee', sans-serif;
}


.content form {
	display: grid;
	margin-top: 50px;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 50px 50px 50px 50px 1fr;
}

.content form #picuna {
	margin-left: 87px;
	margin-top: 15px;
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

.content form #una {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.content form #inuna {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.content form #picpas {
	margin-top: 10px;
	margin-left: 90px;
	grid-column: 1 / 2;
	grid-row: 3 / 5;
}

.content form #pas {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}

.content form #inpas {
	grid-column: 2 / 3;
	grid-row: 4 / 5;
}

.content form #login {
	grid-column: 2/3;
	margin-left: 10px;
	margin-top: 40px;
}

.content form #login #loginbtn {
	background-color: rgba(29, 115, 122,0.9);
	color: white;
	font-family: helvetica;
	font-size: 24px;
	padding: 10px 24px;
	border: 0.5px solid white;
	border-radius: 12px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	opacity: 0.6;
}

.content form #login #loginbtn:hover {
  opacity:1; 
}

.content form #login #loginbtn:active {
  transform: translateY(2px); 
}

.footer {
  width: 100%;
  height: 150px;
  margin-top: 150px;	
}

.footer p {
  text-shadow: 2px 2px 5px cyan;
  color: white;
  text-align: center;
  font-size: 1em;
  font-family: helvetica;
}

@media (max-width:1366px){

.content {
	width: 500px;
}

.content #title {
	width: 100%;
}

@media (max-width:1024px){

.content {
	width: 450px;
	height: 590px;
}

.content #title {
	width: 100%;
}

.content #title h1{
	font-size: 42px;
}

.content form #picuna {
	margin-left: 72px;
}

.content form #picpas {
	margin-left: 75px;
}

.content form #login {
	margin-left: 9px;
}


@media (max-width:768px){

.content {
	width: 400px;
	height: 580px;
}

.content #title {
	width: 100%;
}

.content #title h1{
	font-size: 39px;
}

.content form #picuna {
	margin-left: 50px;
}

.content form #picpas {
	margin-left: 53px;
}

.content form #login {
	margin-left: 8px;
}

@media (max-width:480px){

.content {
	width: 350px;
	height: 570px;
}

.content #title {
	width: 100%;
}

.content #title h1{
	font-size: 39px;
}


.content form #picuna {
	margin-left: 25px;
}

.content form #inuna input{
	width: 90%;
}

.content form #picpas {
	margin-left: 28px;
}

.content form #inpas input{
	width: 90%;
}

.content form #login {
	margin-left: 7px;
}

@media (max-width:320px){

.content {
	width: 300px;
	height: 560px;
}

.content #title {
	width: 100%;
}

.content #title h1{
	font-size: 36px;
}

}